@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  background-color: #03011f;
  font-family: "Ubuntu", sans-serif;
  color: #6cacc5;
  text-align: center;
}

.title {
  font-family: "Agu Display", serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
  font-size: 45px;
  margin-top: 0px;
}

.pontuacao {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.pontuacao p {
  font-size: 20px;
}

canvas {
  margin: 20px auto;
}

.win {
  width: 100%;
  height: auto;
  visibility: hidden;
}

.next {
  width: 100%;
  height: auto;
  visibility: hidden;
}

.lose {
  width: 100%;
  height: auto;
  visibility: hidden;
}

.win h1,
.next h1,
.lose h1 {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}

button {
  background-color: #6cacc5;
  color: #03011f;
  padding: 2px 10px;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  margin: 0 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  cursor: pointer;
}
